* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#header {
  height: 65px;
  text-align: center;
  line-height: 65px;
}

#search {
  border: 1px solid lightgrey;
  height: 35%;
  padding-left: 8px;
}

#gallery li {
  display: inline-block;
  list-style: none;
  max-width: 30%;
}

.slide {
  max-width: 100%;
}

.thumb {
  max-width: 100%;
  max-height: 100%;
}

/*
.mfp-img {
  display: inline-block;
  padding-bottom: 0;
}
*/

.mfp-counter {
  font-size: 10px;
  background-color: red;
  padding-top: 0;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 10%;
}

.mfp-content {
  text-align: center;
}

.mfp-title {
  display: inline-block;
  max-width: 100%;
  background-color: black;
  padding-top: 22px;
  padding-left: 8px;
  padding-bottom: 22px;
}

@media (min-width: 768px) {
  #search {
    height: 50%;
    width: 40%;
  }
}

@media (min-width: 813px) {
  #gallery li {
    display: inline-block;
    width: 22%;
  }

  .mfp-title {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 14px;
    padding-bottom: 14px;
}
  .mfp-close {
    font-size: 50px;
  }
}

@media (min-width: 1150px) {
  #gallery li {
    width: 15%;
  }

  .mfp-title {
    line-height: normal;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 14px;
    padding-bottom: 20px;
}
